.root{
    -fx-background-color:#FAEBD7;
}
.tab-pane{
    -fx-background-color: #FFDEAD;
}
.button{
    -fx-background-color: #FF7F50;
    -fx-text-fill: #FFFFFF;

}
.text-field{
    -fx-text-fill:black ;
}
.label{
    -fx-text-fill:black;
}
.table-view{
    -fx-background-color:#FFDEAD ;
}